.mjx-math {font-size: 1.5em;}
.step-block {border: 1px solid black;}
/*.MathJax_CHTML {font-size: 2.5em;}*/
/*.step-block span {font-size: 1.075em;}*/
.foil-block {
  border: 1px solid black;
  display:inline-block;
  padding: .25em;
  margin: .125em
}
